<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw_server.system.service.dao.mapper.SysRoleMapper">


    <select id="selectAllRoleByUserId" resultType="com.jw_server.system.service.dao.entity.SysRole">
        SELECT
            DISTINCT r.id, r.role_name
        FROM
            sys_user_role ur
                LEFT JOIN sys_role r ON ur.role_id = r.id
        WHERE
            ur.user_id = #{userId};

    </select>
    <select id="selectRoleNameListByUserId" resultType="java.lang.String">
        SELECT
            DISTINCT r.role_name
        FROM
            sys_user_role ur
                LEFT JOIN sys_role r ON ur.role_id = r.id
        WHERE
            ur.user_id = #{userId}
            AND r.is_deleted=0 AND r.status=1;
    </select>
</mapper>
