<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw_server.dl.service.dao.mapper.DlFaceDatabaseMapper">

    <update id="updateImageAddressWhenDelete">
        update dl_face_database set image_address = "" where image_address = #{imageAddress}
    </update>
</mapper>
