<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw_server.blog.service.dao.mapper.BlogTagMapper">

    <select id="getAllFrontTag" resultType="com.jw_server.blog.service.dao.vo.BlogFrontTagVO">
        SELECT
            bt.tag_id, bt.tag_name, COUNT(bat.article_id) AS article_counts
        FROM
            blog_tag AS bt
            LEFT JOIN (SELECT article_id, tag_id FROM blog_article_tag) AS bat ON bat.tag_id = bt.tag_id
        GROUP BY bt.tag_id
    </select>
    <select id="getAdminTagPage" resultType="com.jw_server.blog.service.dao.vo.BlogAdminTagPageVO">
        SELECT
            bt.tag_id, bt.tag_name, bt.remark, bt.status,
            bt.create_time, COUNT(bat.article_id) AS article_count
        FROM
            blog_tag AS bt
            LEFT JOIN blog_article_tag AS bat ON bt.tag_id = bat.tag_id
        WHERE
            TRUE
            <if test="tagName != null and tagName !=''">
                AND bt.tag_name like concat('%',#{tagName},'%')
            </if>
        GROUP BY bt.tag_id
    </select>
    <select id="getAllTagByTagNameOrNot" resultType="com.jw_server.blog.service.dao.vo.BlogFrontTagVO">
        SELECT
            bt.tag_id, bt.tag_name
        FROM
            blog_tag AS bt
        WHERE
            bt.status = '1'
            <if test="tagName!=null and tagName!='' ">
                AND bt.tag_name like concat('%',#{tagName},'%')
            </if>
    </select>
</mapper>
