<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jw_server.blog.service.dao.mapper.BlogArticleMapper">

    <select id="getFrontPublicArticlePage" resultType="com.jw_server.blog.service.dao.vo.BlogFrontArticlePageVO">
        SELECT
            ba.article_id, ba.user_id, su.nickname, ba.category_id,
            bc.category_name, ba.is_top, ba.article_cover, ba.article_title,
            ba.article_summary, ba.view_counts, ba.create_time
        FROM
            `blog_article` AS ba
            LEFT JOIN sys_user AS su ON ba.user_id = su.id
            LEFT JOIN blog_category AS bc ON ba.category_id = bc.category_id
        WHERE
            ba.article_check='1'
            AND ba.is_deleted='0'
            AND ba.article_visible='1'
            <if test="queryArticleDTO.categoryId != null and queryArticleDTO.categoryId !=''">
                AND bc.category_id = #{queryArticleDTO.categoryId}
            </if>
            <if test="queryArticleDTO.tagId != null and queryArticleDTO.tagId !=''">
                AND ba.article_id in (
                    SELECT
                        ba2.article_id
                    FROM
                        blog_article AS ba2
                        LEFT JOIN blog_article_tag AS bat ON ba2.article_id = bat.article_id
                    WHERE
                        bat.tag_id = #{queryArticleDTO.tagId}
                )
            </if>
        ORDER BY is_top DESC, ba.create_time DESC
    </select>

    <select id="getFrontLoginUserArticlePage" resultType="com.jw_server.blog.service.dao.vo.BlogFrontArticlePageVO">
        SELECT
            ba.article_id, ba.user_id, su.nickname, ba.category_id,
            bc.category_name, ba.is_top, ba.article_cover, ba.article_title,
            ba.article_summary, ba.view_counts, ba.create_time
        FROM
            `blog_article` AS ba
            LEFT JOIN sys_user AS su ON ba.user_id = su.id
            LEFT JOIN blog_category AS bc ON ba.category_id = bc.category_id
        WHERE
            ba.article_check='1'
            AND ba.is_deleted='0'
            AND (ba.user_id=#{loginUserId} OR ba.article_visible='1')
            <if test="queryArticleDTO.categoryId != null and queryArticleDTO.categoryId !=''">
                AND bc.category_id = #{queryArticleDTO.categoryId}
            </if>
            <if test="queryArticleDTO.tagId != null and queryArticleDTO.tagId !=''">
                AND ba.article_id in (
                    SELECT
                        ba2.article_id
                    FROM
                        blog_article AS ba2
                        LEFT JOIN blog_article_tag AS bat ON ba2.article_id = bat.article_id
                    WHERE
                        bat.tag_id = #{queryArticleDTO.tagId}
                )
            </if>
        ORDER BY is_top DESC, ba.create_time DESC
    </select>

    <update id="updateArticleViewCounts" parameterType="java.lang.Integer">
        UPDATE blog_article AS ba
        SET ba.view_counts = ba.view_counts+1
        WHERE ba.article_id= #{articleId}
    </update>


    <select id="getFrontArticleDetails" parameterType="java.lang.Integer" resultType="com.jw_server.blog.service.dao.vo.BlogFrontArticleDetailsVO">
        SELECT
            ba.article_id, ba.user_id, su.nickname, bc.category_id, bc.category_name,
            ba.is_top, ba.article_cover, ba.article_title, ba.article_summary,
            ba.article_content, ba.article_visible, ba.view_counts, ba.comment_allowed,
            ba.article_check, ba.create_time, ba.update_time
        FROM
            `blog_article` AS ba
                LEFT JOIN sys_user AS su ON ba.user_id = su.id
                LEFT JOIN blog_category AS bc ON ba.category_id = bc.category_id
        WHERE
            ba.article_check='1'
            AND ba.is_deleted='0'
            AND ba.article_id = #{articleId};
    </select>

    <update id="updateArticleCommentCounts" parameterType="java.lang.Integer">
        UPDATE blog_article AS ba
        SET ba.comment_counts = ba.comment_counts + #{updateNumber}
        WHERE ba.article_id= #{articleId}
    </update>

    <select id="getAdminBlogArticlePage" resultType="com.jw_server.blog.service.dao.vo.BlogAdminArticlePageVO">
        SELECT
            ba.article_id, su.nickname, bc.category_name, ba.is_top,
            ba.article_cover, ba.article_title, ba.article_visible, ba.view_counts,
            ba.comment_allowed, ba.article_check, ba.create_time
        FROM
            `blog_article` AS ba
            LEFT JOIN sys_user AS su ON ba.user_id = su.id
            LEFT JOIN blog_category AS bc ON ba.category_id = bc.category_id
        WHERE
            ba.is_deleted='0'
            <if test="queryArticleDTO.categoryName != null and queryArticleDTO.categoryName !=''">
                AND bc.category_name like concat('%',#{queryArticleDTO.categoryName},'%')
            </if>
            <if test="queryArticleDTO.articleCheck != null and queryArticleDTO.articleCheck !=''">
                AND ba.article_check = #{queryArticleDTO.articleCheck}
            </if>
        ORDER BY is_top DESC
    </select>
    <select id="getUpdateArticle" resultType="com.jw_server.blog.service.dao.vo.BlogAdminUpdateArticleVO">
        SELECT
            ba.article_id, ba.user_id, ba.category_id, ba.is_top,
            ba.article_cover, ba.article_title, ba.article_summary, ba.article_content,
            ba.article_visible, ba.comment_allowed, ba.article_check
        FROM
            `blog_article` AS ba
        WHERE
            ba.article_id = #{articleId}
    </select>
    <select id="getHotArticle" resultType="com.jw_server.blog.service.dao.vo.BlogFrontHotArticleVO">
        SELECT
            ba.article_id, su.nickname, ba.article_cover, ba.article_title,
            ba.view_counts, ba.create_time
        FROM
            `blog_article` AS ba
            LEFT JOIN sys_user AS su ON ba.user_id = su.id
        WHERE
            ba.article_check='1'
            AND ba.is_deleted='0'
        ORDER BY ba.view_counts DESC
        LIMIT #{pageNum}, #{pageSize}
    </select>

    <select id="getArticleArchivePage" resultType="com.jw_server.blog.service.dao.vo.BlogFrontArticleArchiveVO">
        SELECT
        ba.article_id, ba.article_title, ba.article_visible, ba.create_time
        FROM
        `blog_article` AS ba
        WHERE
        ba.article_check='1'
        AND ba.is_deleted='0'
        <if test="loginUserId!=null and loginUserId!=''">
            AND (ba.user_id=#{loginUserId} OR ba.article_visible='1')
        </if>
        <if test="loginUserId==null">
            AND ba.article_visible='1'
        </if>
        ORDER BY ba.create_time DESC
    </select>


</mapper>
